@import "./theme.less";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/*登录页面*/
.login-wrap {
  width: 100%;
  height: 100vh;
  background: url(../images/bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  .login-title {
    color: white;
    padding: 20px;
    font-weight: 500;
  }
  .login-box {
    position: absolute;
    width: 300px;
    height: auto;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    transform: translateY(-50%);
    background: rgba(3, 92, 132, 0.85);
    padding: 10px 10px 20px;
    border-radius: 10px;
    h2 {
      font-size: 24px;
      text-align: center;
      font-weight: 500;
      margin-bottom: 10px;
      color: white;
    }
    .el-form {
      .el-form-item__label {
        color: white;
      }
      .el-form-item {
        margin-bottom: 5px;
      }
      .el-input__prefix {
        color: #333333;
      }
      .el-form-item__error {
        top: 33px;
      }
    }
    .form-btn {
      margin-left: 70px;
      margin-top: 12px;
    }
  }
}

/*注册页面*/
.register-form {
  .el-dialog {
    width: 450px;
  }
  .top {
    position: relative;
    height: 0px;
    overflow: hidden;
  }
  .el-form-item {
    margin-bottom: 6px;
  }
  .el-form-item__error {
    top: 33px;
  }
}

/*主页面*/
.home-wrap {
  height: 100vh;
}

/*头部*/
.home-header {
  display: flex;
  height: 40px !important;
  background: @theme-color;
  color: white;
  justify-content: space-between;
  padding: 0 20px;
  justify-items: center;
  .logo {
    line-height: 40px;
    font-size: 22px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .right {
    display: flex;
    p {
      line-height: 40px;
      padding-right: 5px;
      width: 80px;
      text-align: center;
    }

    .el-avatar {
      margin-top: 6px;
    }
  }
}

.my-menu {
  .el-menu {
    // background-color: @theme-color;
    .el-menu-item {
      height: 40px;
      line-height: 40px;
      // color: white;
      >span {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
.my-content {
  padding: 0;
  background: #f5f7f9;
  overflow: hidden;
  .first-menu.el-row {
    margin-top: 0;
    background-color: white;
    .el-tabs__header {
      margin-bottom: 0;
    }
  }
  .main-content-box {
    padding: 10px;
    max-width: 1100px;
    max-height: calc(100vh - 130px);
    overflow: auto;
    .problem-box {
      .el-card__body {
        padding: 10px;
      }
      .title-top {
        display: flex;
        justify-content: space-between;
      }
      .describe {
        line-height: 25px;
        font-size: 14px;
      }
      .enclosure {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        line-height: 25px;
        color: #ab9d96;
      }
      .content-html {
        min-height: 100px;
        background: #f5f7f9;
      }
    }
  }
}

/*论坛区域*/
.forum-wrap {
  // width: 100%;
  margin-top: 20px;
  font-size: 14px;

  .forum-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 30px;
  }
  ul {
    background: white;

    padding: 10px;
    li {
      border: 1px solid @border-color;
      border-right: none;
      border-top: none;
      display: flex;
      position: relative;
      .left {
        width: 187px;
        display: flex;
        padding: 5px;
        border-right: 1px solid @border-color;
        .pic {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          border: 1px solid @theme-color;
          // background-size: cover;
        }
        .text {
          padding-top: 5px;
          padding-left: 5px;
          .txt1 {
            line-height: 20px;
            color: @theme-color;
          }
          .txt2 {
            line-height: 20px;
            font-size: 10px;
            color: #999999;
          }
        }
      }
      .right {
        width: ~"calc(100% - 188px)";
        border-right: 1px solid @border-color;
        padding: 10px 5px 5px;
        .right-html {
          min-height: 30px;
        }
        .start-date {
          line-height: 20px;
        }
      }
    }
    li:first-child {
      border-top: 1px solid @border-color;
    }
  }
}
.forum-form {
  margin-top: 10px;
  background: white;
  // padding: 20px;
  .forum-form-top {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    .ipt {
      width: ~"calc(100% - 67px)";
      height: 32px;
    }
    button {
      width: 56px;
    }
  }
  .huifu {
    .w-e-text-container {
      height: 200px !important;
    }
    .btn {
      text-align: right;
      button {
        border-color: #e33e33;
        background: #e33e33;
        margin-top: 10px;
      }
    }
  }
}
